  
{{>header}}
<div class="container">
  <h2> {{mostrar}}</h2>
  {{!-- <h2>Bienvenido {{nombre}}</h2>
  <br>  
  {{{promedio nombre}}}
  {{{promedio sesion}}}
  {{{mostrar sesion}}} --}}
  
</div>
  {{>footer}}
  